/* body와 html 설정 추가 */
html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/******************************/
main{
    position: relative;  /* absolute → relative로 변경 */
    margin: 20px auto 50px;  /* 상하 여백 추가 */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 100px);
}

/*별표에 대한 처리*/
.star{
    color: red;
    font-weight: bold;
}

.green{
    color : green;
}

.red{
    color : red;
}

/***********************************/
/*사이트 이름 표기 위치*/
.site-name{
    /*background-color: brown;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 130px;
}

.site-name-link{
    font-size: xx-large;
    font-weight: bold;
}

form{
    position: relative;
}
/*******************************/

.data-input-div{
    position: relative;
    /*background-color: ghostwhite;*/
    border: 1px solid black;
    border-radius: 10px;
    width: 450px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

/***********************************/
.user-image-div{
    display: grid;

    /*background-color: skyblue;*/
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    width: 250px;

    position: relative;
    left: calc(50% - 125px);

}
.user-image{
    width: 100px;
    height: 100px;
    border-radius: 500px;
    overflow: hidden;
    grid-row: 1/3;
    grid-column: 1/3;
}

.user-image-div span{
    grid-row: 1;
    grid-column: 3/4;
}

.user-image-div button{
    grid-row: 2;
    grid-column: 3;
}



/***************************/
.user-text-div{
    position: relative;
    display: grid;

    /*background-color: gold;*/

    text-align: right;
    padding: 0 10px;

}

.two-data-text{
    height: 70px;
}
.three-data-text{
 height: 90px;
}

.four-data-text{
    height: 140px;
}



input{
    width: 250px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 3px 0;
    padding: 3px 5px;
}
input[type=password]{
    font-family: sans-serif;
}

input:focus{
    outline: unset;
}

p{
    position: relative;
    text-align: center;
}

/******************************/

form > button{
    width: 200px;
    height: 60px;
    font-size: xx-large;
    outline: unset;
    border:unset;
    background-color: #1f2d3d;
    color: white;
    border-radius: 15px;
}

form > button:hover{
    cursor: pointer;
}

div#auth-div > select{
    width: 250px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 3px 0;
    padding: 3px 5px;
    background: white;
}