*{ /* 모든 대상에 적용할 내용을 지정. */
    margin: 0; /* 바깥 여백을 0 */
    padding: 0; /* 내부 여백을 0 */
    box-sizing: border-box; /* 박스의 크기를 지정할 때 경계선까지의 길이를 지정. */
    font-family: BookkGothic, serif;
}
/*리스트 스타일 제거*/
ul,ol{
    list-style: none; /* ul와 ol의 목록 리스트에서 앞에 표시되는 스타일을 없앰 */
}
/*링크 속성 글자 밑줄 없앰.*/
a{
text-decoration: none; /* 밑줄 없애기 */
color : black; /* 글자색이 바뀌는 것을 변경 */
}

img{
    display: block; /*inline 속성을 지니고 있는 img 태그의 오차 간격을 없애기 위한 속성 변경*/
    border:none; /*img 태그의 모든 테두리선은 없음으로 초기화*/
}


@font-face { /* 조선굵은명조 */
    font-family: "ChousunCentennial";
    src: url("../font/ChosunCentennial_ttf/ChosunCentennial_ttf.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

@font-face { /* 부크크 고딕 */
    font-family: "BookkGothic";
    src: url("../font/BookkGothic/BookkGothic_Light.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

@font-face { /* 부크크 고딕 */
    font-family: "BookkGothic";
    src: url("../font/BookkGothic/BookkGothic_Bold.ttf") format("truetype");
    font-weight: bold;
    font-display: swap;
}