main{
    position: absolute;
    display: inline-block;
    top: calc(50% - 145px);
    left: calc(50% - 250px);
    width: 520px;
    height: 290px;
    /*background-color: brown;*/
    border-radius: 20px;
    text-align: center;
    border : 1px solid #1f2d3d;
    padding-top: 5px;
}
p{
    font-size: xx-large;
    padding:10px
}

div{
    margin-top: 20px;
    text-align: right;
    padding-right: 30px;
    font-size: x-large;
}

input{
    padding: 2px 5px;
    border : 1px solid #1f2d3d;
    border-radius: 10px;
    font-size: x-large;
    margin-bottom: 10px;
    width: 300px;
}
input[type=password]{
    font-family: sans-serif;
}

input:focus{
    outline: unset;
}

article{
    margin-top: 20px;
    text-align: center;
}

button{
    background-color: #1f2d3d;
    color: white;
    width: 120px;
    height: 50px;
    font-size: x-large;
    border-radius: 20px;
    border : unset;

}
button:hover{
    cursor: pointer;
}